
<div class="container" style="background-color: white; height: 100vh; width: 100%;">

  <div class="alert alert-info" style="margin-top: 20px;" *ngIf="processing">
    <strong>Please wait while we process your request ...</strong>
  </div>
  <div class="center_div" *ngIf="processing">
    <mat-spinner class="center_div"></mat-spinner>
  </div>

  <div class="alert alert-danger" style="margin-top: 20px;" *ngIf="error">
    <strong>An error has occured. Check you internet connection and retry</strong><br>
    <button mat-raised-button color="warn" (click)="ngOnInit()">Retry</button>
  </div>

  <div *ngIf="!processing && !error">
    <div class="alert alert-success" style="margin-top: 20px;">
      <strong>Your booking was successful!</strong> Thank you for doing business with us. Our representative will
      call you withing 24 hours.
    </div>

    <button mat-raised-button color="warn" [routerLink]="['/']" routerLinkActive="router-link-active" style="margin-right: 10px;">Back to home</button>
    <button mat-raised-button color="warn" [routerLink]="['/checkout']" routerLinkActive="router-link-active" >Select another car</button>

  </div>
  </div>
