 <div class="section section-header">
    <div class="parallax">
        <div class="image"
            style="background-image: url('assets/img/audi.jpg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <p>Rent A Car</p>
                    <h1 class="title-modern">Yarutso</h1>
                    <h2>Ensuring Convenience in Travel</h2>
                    <div class="separator line-separator">♦</div>
                </div>

                <div class="button-get-started">
                    <button class="btn btn-danger btn-fill btn-lg " [routerLink]="['/create-booking']" routerLinkActive="router-link-active" >
                      Create Booking
                    </button>
                </div>
            </div>

        </div>
    </div>
  </div>


  <div class="section" id="about-us" name="about-us">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Our Services</h2>
                <div class="separator separator-danger">✻</div>
                <p class="description">
                  We are a mobility solutions, technology and internet driven business which leverages innovations for marketing , operations and management
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-world"></i>
                    </div>
                    <h3>Vision</h3>
                    <p class="description">
                      Our vision is to be the leading supplier of mobility solutions in Africa by 2025.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-ribbon"></i>
                    </div>
                    <h3>Mission</h3>
                    <p class="description">
                      Yarutso car rental aims to bring customer happiness in the mobility solutions sector through comfort, convenience and affordability.
                    </p>
                </div>
            </div>
        </div>
    </div>
  </div>


  <div class="section section-our-team-freebie">
    <div class="parallax filter filter-color-gold">
        <div class="image" style="background-image:url('assets/img/scale-car.jpg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>A Little More About Us</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description">
                          Yarutso Car Rental was founded by Victor Tawanda Madzedze.
                          Madzedze has a first class degree in B.com Marketing Management and is
                          studying towards a Masters in Business Administration. With a stint of
                          experience in FMCG after doing his internship with Pacific Cigarettes company
                          and having helped position YA FM radio station as a brand and grow turnover by
                          almost 200% . Yarutso Car rental is built from immense
                          marketing and disruptive capabilities with operational excellence at the core.
                        </p>
                    </div>
                </div>

                <div class="team">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="assets/img/Victor-profile.jfif"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Victor</h3>
                                                <p class="small-text">Founder / Brand strategist</p>
                                                <p class="description">
                                                  B.com Marketing (MSU) , Masters in business Administration (MSU).
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="assets/img/rufaro-website.jpeg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Rufaro Matimati</h3>
                                                <p class="small-text">Brand Strategist </p>
                                                <p class="description">LLB Cavendish University. Masters in Business Administration (MSU)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>


  <div class="section section-our-clients-freebie">
    <div class="container">
        <div class="title-area">
            <h5 class="subtitle text-gray">Here are some</h5>
            <h2>Clients Testimonials</h2>
            <div class="separator separator-danger">∎</div>
        </div>

        <ul class="nav nav-text" role="tablist">
            <li class="active">
                <a href="#testimonial1" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="" class="img-circle" src="https://graph.facebook.com/1641202115/picture?type=large"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="#testimonial2" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="" class="img-circle" src="https://graph.facebook.com/100004922922307/picture?type=large"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="#testimonial3" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="" class="img-circle" src="https://graph.facebook.com/100002570434212/picture?type=large"/>
                    </div>
                </a>
            </li>
        </ul>


        <div class="tab-content">
            <div class="tab-pane active" id="testimonial1">
                <p class="description">
                  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fwadzanayi.maturure%2Fposts%2F10220544363872689&width=500" width="500" height="161" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </p>
            </div>
            <div class="tab-pane" id="testimonial2">
                <p class="description">
                  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpauline.kamaz.1%2Fposts%2F1353156254858459&width=500" width="500" height="186" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </p>
            </div>
            <div class="tab-pane" id="testimonial3">
                <p class="description">
                  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fwellymusengwa%2Fposts%2F2693350210760634&width=500" width="500" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </p>
            </div>

        </div>

    </div>
  </div>


  <div class="section section-small section-get-started">
    <div class="parallax filter">
        <div class="image"
            style="background-image: url('assets/img/green-car-near-seashore.jpg')">
        </div>
        <div class="container">
            <div class="title-area">
                <h2 class="text-white">Do you want to work with us?</h2>
                <div class="separator line-separator">♦</div>
                <p class="description">We are the best solution for vehicles. We have our customers in mind and we never disappoint!</p>
            </div>

            <div class="button-get-started">
                <a [routerLink]="['/contact-us']" routerLinkActive="router-link-active"  class="btn btn-danger btn-fill btn-lg">Contact Us</a>
            </div>
        </div>
    </div>
  </div>


  <footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="info">
                    <h5 class="title">Yarutso</h5>
                    <nav>
                        <ul>
                            <li>
                                <a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a></li>
                            <li>
                                <a [routerLink]="['/contact-us']" routerLinkActive="router-link-active" >Contact Us</a>
                            </li>
                            <li>
                                <a [routerLink]="['/create-booking']">Create Booking</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-3">
              <div class="info">
                <h5 class="title">Follow us on</h5>
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/Yarutso-Car-Rental-107095123968254/" target="_blank" class="btn btn-social btn-facebook btn-simple">
                                <i class="fa fa-facebook-square"></i> Facebook
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="info">
                    <h5 class="title">Latest News</h5>
                    <nav>
                      <ul>
                          <li>
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FYarutso-Car-Rental-107095123968254%2F&tabs=timeline&width=340&height=70&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=340433563000838" width="340" height="150" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                          </li>
                          <li>

                          </li>
                      </ul>
                  </nav>
            </div>
            </div>
            <div class="col-md-2 col-md-offset-1 col-sm-3">

            </div>
        </div>
        <hr>
        <div class="copyright">
             © <script> document.write(new Date().getFullYear()) </script> Yarutso
        </div>
    </div>
  </footer>

