<mat-toolbar color="primary" class="app-toolbar">

  <button mat-button [matMenuTriggerFor]="menu" *ngIf="loggedIn">Cars</button>
  <button mat-button  *ngIf="loggedIn">Profile</button>
  <button mat-button [routerLink]="['/admin/signup']" *ngIf="loggedIn">New User</button>
  <button mat-button (click)="logout($event)" *ngIf="loggedIn">Logout</button>
  <button mat-button [routerLink]="['/admin/login']" *ngIf="!loggedIn">Sign in</button>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <h1>
    Yarutso Admin
  </h1>

</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/admin/all-cars']" routerLinkActive="router-link-active" >
    <span>View</span>
  </button>
  <button mat-menu-item [routerLink]="['/admin/profile']">
    <span>Add New</span>
  </button>
  <button mat-menu-item disabled>
    <span>Settings</span>
  </button>
</mat-menu>
