<mat-toolbar color="primary" class="app-toolbar">

  <img src="assets/img/Yarutso-logo-no-bg.png" style="height: 60px;" alt="">
  <h1>
    Checkout
  </h1>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button mat-button [routerLink]="['/']" routerLinkActive="router-link-active" >Home</button>
  <button mat-button >Checkout</button>
</mat-toolbar>

<div class="container" style="padding-top: 50px; width: 100%;">

<div class="app">
          <mat-card class="item" *ngFor="let car of cars">
            <mat-card-header>
              <mat-card-title>{{car.name}}</mat-card-title>
              <mat-card-subtitle>$ {{car.price}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{imgUrlBase}}{{car.img_name}}" alt="{{car.img_name}}">
            <mat-card-content>
              <p>
              {{car.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="close()" color="primary">Checkout</button>
            </mat-card-actions>
          </mat-card>
</div>
</div>
