<div style="background-color: transparent;overflow-x: hidden;">


<div class="container" style="padding-top: 80px; width: 100%; height: 100%;">

<div class="app" *ngIf="!loading">
          <mat-card class="item" *ngFor="let car of cars" style="height: fit-content;">
            <mat-card-header>
              <mat-card-title>{{car.name}}</mat-card-title>
              <mat-card-subtitle>$ {{car.price}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{imgUrlBase}}{{car.img_name}}" alt="{{car.img_name}}">
            <mat-card-content>
              <p>
              {{car.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="warn" [routerLink]="['/thank-you']" routerLinkActive="router-link-active"  (click)="checkOut(car)">Checkout</button>
            </mat-card-actions>
          </mat-card>
</div>
</div>

<div class="center_div" *ngIf="loading">
  <mat-spinner class="center_div"></mat-spinner>
</div>

</div>
