<div style="background-color: transparent; background: url('assets/img/book-car-header.jpg') no-repeat center center fixed; overflow-x: hidden;">

<div style="background-color: transparent; height: 80px;">

</div>
  <div class="row" style="background-color: transparent;">
    <div class="col-sm-2 col-md-2 col-lg-2" style="background-color: transparent;">

    </div>
    <div class="col-sm-8 col-md-8 col-lg-8">
      <mat-card style="margin: 10px;">
        <mat-card-header>
          <mat-card-title>Book a vehicle</mat-card-title>
          <mat-card-subtitle>Give us your details and we will get intouch with you.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form #bookingForm=ngForm (ngSubmit)="onSubmit()">
            <mat-form-field>
              <mat-label>From : Press calendar icon to select date</mat-label>
              <input matInput [min]="minDateFrom" [matDatepicker]="picker1" [formControl]="date"
              (dateInput)="getFromDate($event)" (dateChange)="getFromDate($event)" readonly required>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 disabled="false"></mat-datepicker>
              <mat-hint *ngIf="errors.fromDate" style="color: red; font-size: x-small;">
                Please enter a from date!
              </mat-hint>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field>
              <mat-label>To : Press calendar icon to select date</mat-label>
              <input matInput [matDatepicker]="picker2"
                     [formControl]="serializedDate" [min]="minDateTo"
                     (dateInput)="getToDate($event)" (dateChange)="getToDate($event)" readonly required>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 disabled="false"></mat-datepicker>

            </mat-form-field>
          <br>
            <!--<mat-form-field>
              <mat-label>Value binding</mat-label>
              <input matInput [matDatepicker]="picker3" [value]="date.value">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>-->

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="Full Name" autocomplete="name" type="text" name="fullName" [(ngModel)]="fullName" required>
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint>Hint: John Doe &nbsp;</mat-hint>
                </mat-form-field>
                <span *ngIf="errors.fullName" style="color: red; font-size: x-small;">
                  Please enter valid name
                </span>
            </p>

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" autocomplete="email" type="email" name="email" [(ngModel)]="email" required>
                <mat-icon matSuffix>alternate_email</mat-icon>
                <mat-hint>Hint: you@mail.com &nbsp;</mat-hint>
                </mat-form-field>
                <span *ngIf="errors.email" style="color: red; font-size: x-small;">
                  Please enter valid email
                </span>
            </p>

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Phone Number" autocomplete="tel-national" type="tel" name="Phone" [(ngModel)]="phone" required>
                <mat-icon matSuffix>phone</mat-icon>
                <mat-hint>Hint: +263</mat-hint>
              </mat-form-field>
            </p>

            <button mat-raised-button [disabled]="!bookingForm.valid"class="nav-button-create" type="submit">Proceed to select vehicle</button>

          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" style="background-color: transparent;">

    </div>
  </div>

</div>

