

.center_div{
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 40%;
}
mat-form-field {
  width: 100%;
  }
html {
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
}
