<div style="background-color: transparent; background: url('assets/img/book-car-header.jpg') no-repeat center center fixed;
height: 100vh; overflow-x: hidden;">

<div style="background-color: transparent; height: 80px;">

</div>
  <div class="row" style="background-color: transparent;">
    <div class="col-sm-2 col-md-2 col-lg-2" style="background-color: transparent;">

    </div>
    <div class="col-sm-8 col-md-8 col-lg-8">
      <mat-card style="margin: 10px;">
        <mat-card-header>
          <mat-card-title>Book a vehicle</mat-card-title>
          <mat-card-subtitle>Give us your details and we will get intouch with you.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form action="">
            <mat-form-field>
              <mat-label>From</mat-label>
              <input matInput [matDatepicker]="picker1" [formControl]="date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>To</mat-label>
              <input matInput [matDatepicker]="picker2"
                     [formControl]="serializedDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          <br>
            <!--<mat-form-field>
              <mat-label>Value binding</mat-label>
              <input matInput [matDatepicker]="picker3" [value]="date.value">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>-->
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" name="description" required>
                <mat-icon matSuffix>book</mat-icon>
                <mat-hint>Hint: you@mail.com</mat-hint>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Phone Number" name="Phone" required>
                <mat-icon matSuffix>phone</mat-icon>
                <mat-hint>Hint: +263</mat-hint>
              </mat-form-field>
            </p>

            <button mat-raised-button color="primary" [routerLink]="['/checkout']" routerLinkActive="router-link-active" >Proceed to select vehicle</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" style="background-color: transparent;">

    </div>
  </div>

</div>

