.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.sid-nav-font {
 font-size: smaller;
}

.nav-button {
  color: black;
}
mat-toolbar {
  background-color: #fecf1d;
     color: #fecf1d;
     border-top: 5px solid #fecf1d;
     -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.nav-button-create {
  background-color: black;
  color: white;
  border-color: black;
}
