<div class="center_div col-6 offset-4">
  <h1 class="title-modern center_div">Sign In</h1>

  <form #loginForm=ngForm (ngSubmit)="onSubmit()">

    <div class="alert alert-danger" [hidden]="!error">
      {{error}}
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" name="email"
        placeholder="Email" [(ngModel)]="form.email" autocomplete="email" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" name="password"
        placeholder="Password" [(ngModel)]="form.password" autocomplete="current-password" required>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign in</button>
      </div>
    </div>

    <small class="pull-right">
      <a [routerLink]="['/admin/request-password-reset']" routerLinkActive="router-link-active" >Reset password</a>
    </small>
  </form>
</div>
